body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .fundo-login {
    background-image: linear-gradient(to right, #293746, #0056b3);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .caixa-login {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px black;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .caixa-login h1 {
    text-align: center;
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    padding: 10px;
    border: 1px solid white;
    border-radius: 6px;
  }
  
  button {
    padding: 10px;
    background-color: #293746;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  

  #botao-alterar-senha {
    background-color: white;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 14px;
  }
  
  #botao-alterar-senha:hover {
    background-color: white;
  }
  
  .icone-email {
    width: 16px;
    height: 16px;
  }
  

  #mensagem {
    text-align: center;
    color: red;
    margin-top: 5px;
  }
  