#container {
    display: flex;
    width: 500px;
    height: 320px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: grey;
    justify-content: center ;
    align-items: center;
}

#item1, #item2, #item3 {
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 10px;
    border: 1px solid black;
}