h1 {
    color: green;
}

div {
    display: inline-block;
    background-color: red;
    padding-right: 6px;
}

#div2 {
    background-color: orange;
    color: yellow;
}

#div3 {
    display: none;
}

button {
    display: block;
    background-color: blue;
    color: white;
    margin-top: 3px;
}